<div class="footer-footer">
  <div class="footer-content">
    <div class="footer-information">
      <div class="footer-heading">
        <img
          [attr.alt]="pastedImage_alt"
          [attr.src]="pastedImage_src"
          class="footer-pasted-image"
        />
        <span class="footer-text">{{ text1 }}</span>
      </div>
      <div class="footer-socials">
        <app-social rootClassName="social-root-class-name"></app-social>
        <app-social
          Insider_src="/assets/pastedimage-k0l6.svg"
          rootClassName="social-root-class-name1"
        ></app-social>
        <app-social
          Insider_src="/assets/pastedimage-ld65.svg"
          rootClassName="social-root-class-name2"
        ></app-social>
      </div>
    </div>
    <div class="footer-links">
      <div class="footer-column">
        <span class="footer-header">{{ Header }}</span>
        <span class="footer-link">{{ Link }}</span>
        <span class="footer-link01">{{ Link1 }}</span>
        <span class="footer-link02">{{ Link2 }}</span>
        <span class="footer-link03">{{ Link3 }}</span>
        <span class="footer-link04">{{ Link4 }}</span>
      </div>
      <div class="footer-column1">
        <span class="footer-header1">{{ Header1 }}</span>
        <span class="footer-link05">{{ Link5 }}</span>
        <span class="footer-link06">{{ Link6 }}</span>
        <span class="footer-link07">{{ Link7 }}</span>
        <span class="footer-link08">{{ Link8 }}</span>
        <span class="footer-link09">{{ Link9 }}</span>
        <span class="footer-link10">{{ Link10 }}</span>
      </div>
    </div>
  </div>
  <span class="footer-text1">{{ text }}</span>
</div>
