:host { 
  display: contents; 
}
.navbar-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1200px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  border-radius: 25px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar-desktop {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-main {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-branding {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-text {
  color: #ffffff;
  font-size: 23px;
  font-family: "Outfit";
  margin-left: -40px;
}
.navbar-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-top: 12px;
  margin-right: 112px;
  border-radius: 6px;
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: right;
}
.navbar-link {
  color: #ffffff;
  font-size: 18px;
  font-family: "Outfit";
  text-decoration: none;
}
.navbar-link1 {
  color: #ffffff;
  font-size: 18px;
  font-family: "Outfit";
  text-decoration: none;
}
.navbar-link2 {
  color: #ffffff;
  font-size: 18px;
  font-family: "Outfit";
  text-decoration: none;
}
.navbar-mobile {
  gap: var(--dl-space-space-fourunits);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  z-index: 200;
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-image {
  width: 150px;
  object-fit: cover;
}
.navbar-icon {
  width: 28px;
  height: 28px;
}
.navbar-links1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.navbar-navlink {
  text-decoration: none;
}
.navbar-navlink1 {
  text-decoration: none;
}
.navbar-navlink2 {
  text-decoration: none;
}
.navbar-navlink3 {
  text-decoration: none;
}
.navbar-buttons {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.navbar-navlink4 {
  display: contents;
}
.navbar-btn {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ADE2DF;
}
.navbar-text1 {
  font-style: normal;
  font-weight: 500;
}
.navbar-navlink5 {
  display: contents;
}
.navbar-btn1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ADE2DF;
}
.navbar-text2 {
  font-style: normal;
  font-weight: 500;
}
.navbar-container1 {
  display: contents;
}
.navbar-root-class-name {
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 991px) {
  .navbar-navbar {
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .navbar-links {
    display: none;
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    align-items: center;
  }
  .navbar-mobile {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
