:host { 
  display: contents; 
}
.faq-faq {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #F3F5FA;
}
.faq-header {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.faq-tag {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #D6F1F0;
}
.faq-text {
  font-style: normal;
  font-weight: 500;
}
.faq-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.faq-text03 {
  width: 100%;
  font-size: 40px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
.faq-rows {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.faq-column {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.faq-title {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.faq-description {
  font-family: Poppins;
  line-height: 24px;
}
.faq-title1 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.faq-description1 {
  font-family: Poppins;
  line-height: 24px;
}
.faq-question2 {
  border-bottom-width: 0px;
}
.faq-title2 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.faq-description2 {
  font-family: Poppins;
  line-height: 24px;
}
.faq-column1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.faq-question3 {
  border-right-width: 0px;
}
.faq-title3 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.faq-description3 {
  font-family: Poppins;
  line-height: 24px;
}
.faq-question4 {
  border-right-width: 0px;
}
.faq-title4 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.faq-description4 {
  font-family: Poppins;
  line-height: 24px;
}
.faq-question5 {
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.faq-title5 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.faq-description5 {
  font-family: Poppins;
  line-height: 24px;
}
@media(max-width: 767px) {
  .faq-faq {
    width: 100%;
  }
  .faq-text {
    font-size: 14px;
  }
  .faq-text03 {
    font-size: 32px;
    line-height: 44px;
  }
  .faq-rows {
    flex-direction: column;
  }
  .faq-title {
    font-size: 16px;
  }
}
