<div class="faq-faq">
  <div class="faq">
    <div class="faq-header">
      <div class="faq-tag">
        <span class="faq-text">
          <span>FAQ</span>
          <br />
        </span>
      </div>
      <div class="faq-heading"><h2 class="faq-text03">{{ heading }}</h2></div>
    </div>
    <div class="faq-rows">
      <div class="faq-column">
        <div class="Question">
          <span class="faq-title">{{ Title }}</span>
          <span class="faq-description">{{ Description }}</span>
        </div>
        <div class="Question">
          <span class="faq-title1">{{ Title1 }}</span>
          <span class="faq-description1">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.
              <span [innerHTML]="rawif60"></span>
            </span>
            <br />
            <span>
              tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
              occaecat
              <span [innerHTML]="rawcm7o"></span>
            </span>
          </span>
        </div>
        <div class="faq-question2 Question">
          <span class="faq-title2">{{ Title2 }}</span>
          <span class="faq-description2">{{ Description1 }}</span>
        </div>
      </div>
      <div class="faq-column1">
        <div class="faq-question3 Question">
          <span class="faq-title3">{{ Title3 }}</span>
          <span class="faq-description3">{{ Description2 }}</span>
        </div>
        <div class="faq-question4 Question">
          <span class="faq-title4">{{ Title4 }}</span>
          <span class="faq-description4">{{ Description3 }}</span>
        </div>
        <div class="faq-question5 Question">
          <span class="faq-title5">{{ Title5 }}</span>
          <span class="faq-description5">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.
              <span [innerHTML]="rawvami"></span>
            </span>
            <br />
            <span>
              tempor incididunt ut labore et dolore magna aliqua. Excepteur sint
              occaecat
              <span [innerHTML]="rawgikd"></span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
