<div class="home-container">
  <div class="home-header">
    <div class="home-heading">
      <app-navbar rootClassName="navbar-root-class-name"></app-navbar>
    </div>
    <div class="home-hero">
      <div class="home-images">
        <img
          alt="pastedImage"
          src="/assets/drama%20club-600h.png"
          class="home-pasted-image"
        />
        <img
          alt="pastedImage"
          src="/assets/coding%20club-300h.png"
          class="home-pasted-image1"
        />
        <div class="home-column"></div>
        <div class="home-column1"></div>
        <div class="home-column2"></div>
      </div>
      <div class="home-content">
        <h1 class="home-title">
          <span class="home-text">CAMPUS CLUB</span>
          <br />
          <span>MANAGEMENT</span>
          <br />
        </h1>
        <span class="home-caption">
          Find your Club, find your Voice. The club revolution begins now.
        </span>
        <div class="home-hero-buttons"></div>
      </div>
      <img
        alt="pastedImage"
        src="/assets/english%20club-600h.jpg"
        class="home-pasted-image2"
      />
    </div>
  </div>
  <div class="home-video">
    <div class="home-content1">
      <div class="home-header1">
        <h2 class="home-text04">
          Built by students, for students. Discover your club haven
        </h2>
      </div>
      <div class="home-video-container">
        <video
          src="/assets/768d7263-eee5-4339-b176-654504a9ee6a%20(1)%20(1)%20(1).mp4"
          loop
          muted
          poster="/assets/poster-900w.jpg"
          preload="auto"
          autoplay
          controls
          playsinline
          class="home-video1"
        ></video>
        <div class="home-heading-container">
          <div class="home-heading01">
            <span class="home-text05">Connect &amp; Thrive</span>
            <span class="home-text06">
              Beyond textbooks, beyond grades, we argue for what we believe.
              Find your voice, join the club 
            </span>
          </div>
          <div class="home-explore">
            <span class="home-text07">Explore Campus Clubs -&gt;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-sections">
    <div class="home-section">
      <div class="home-content2">
        <div class="home-heading02">
          <h2 class="home-text08">Keep track with all the Campus Activity</h2>
          <span class="home-text09">
            Beyond textbooks, beyond walls. Build your club&apos;s impact
            sphere.
          </span>
        </div>
        <div class="home-content3">
          <div class="home-points">
            <app-point></app-point>
            <app-point
              text="Track every club event, meeting, and hangout"
            ></app-point>
            <app-point text="build a sense of community"></app-point>
          </div>
          <a routerLink="/" class="home-navlink">
            <div class="home-get-started">
              <span class="home-sign-up">Get started now</span>
            </div>
          </a>
        </div>
      </div>
      <div class="home-image"></div>
    </div>
  </div>
  <div class="home-banner-container">
    <div class="home-banner">
      <div class="home-container1">
        <span class="home-text10">
          WHAT ARE YOU WAITING FOR? JOIN A CLUB NOW!
        </span>
      </div>
      <div class="home-book-btn">
        <span class="home-text11">Explore Clubs</span>
      </div>
    </div>
  </div>
  <div id="clubs" class="home-pricing">
    <div class="home-content4">
      <div class="home-plans">
        <div class="home-plan">
          <div class="home-top">
            <div class="home-heading03">
              <span class="home-text12">Standard</span>
              <span class="home-text13">
                Sed ut perspiciatis unde omnis iste natus error sit.
              </span>
            </div>
            <div class="home-cost"><span class="home-text14">Free</span></div>
          </div>
          <div class="home-bottom">
            <div class="home-check-list">
              <app-check></app-check>
              <app-check Feature="Quis nostrud exercitation ulla"></app-check>
              <app-check Feature="Duis aute irure dolor intuit"></app-check>
              <app-check Feature="Voluptas sit aspernatur aut odit"></app-check>
              <app-check Feature="Corporis suscipit laboriosam"></app-check>
            </div>
            <div class="home-button">
              <span class="home-text15">Get Standard</span>
            </div>
          </div>
        </div>
        <div class="home-plan1">
          <div class="home-top1">
            <div class="home-heading04">
              <span class="home-text16">Plus</span>
              <span class="home-text17">
                Sed ut perspiciatis unde omnis iste natus error sit.
              </span>
            </div>
            <div class="home-cost1">
              <span class="home-text18">$8</span>
              <span class="home-text19">/month</span>
            </div>
          </div>
          <div class="home-bottom1">
            <div class="home-check-list01">
              <app-check></app-check>
              <app-check Feature="Quis nostrud exercitation ulla"></app-check>
              <app-check Feature="Duis aute irure dolor intuit"></app-check>
              <app-check Feature="Voluptas sit aspernatur aut odit"></app-check>
              <app-check Feature="Corporis suscipit laboriosam"></app-check>
            </div>
            <div class="home-button01">
              <span class="home-text20">Get Plus</span>
            </div>
          </div>
        </div>
        <div class="home-plan2">
          <div class="home-top2">
            <div class="home-heading05">
              <span class="home-text21">Premium</span>
              <span class="home-text22">
                Sed ut perspiciatis unde omnis iste natus error sit.
              </span>
            </div>
            <div class="home-cost2">
              <span class="home-text23">$16</span>
              <span class="home-text24">/month</span>
            </div>
          </div>
          <div class="home-bottom2">
            <div class="home-check-list02">
              <app-check></app-check>
              <app-check Feature="Quis nostrud exercitation ulla"></app-check>
              <app-check Feature="Duis aute irure dolor intuit"></app-check>
              <app-check Feature="Voluptas sit aspernatur aut odit"></app-check>
              <app-check Feature="Corporis suscipit laboriosam"></app-check>
            </div>
            <div class="home-button02">
              <span class="home-text25">Get Plus</span>
            </div>
          </div>
        </div>
        <div class="home-expand">
          <div class="home-overlay">
            <div class="home-header2">
              <div class="home-heading06">
                <span class="home-text26">Expand</span>
                <span class="home-text27">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt.
                </span>
              </div>
              <div class="home-check-list03">
                <div class="home-check">
                  <svg viewBox="0 0 1024 1024" class="home-icon">
                    <path
                      d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                    ></path>
                  </svg>
                  <span class="home-text28">Sed ut perspiciatis unde</span>
                </div>
                <div class="home-check1">
                  <svg viewBox="0 0 1024 1024" class="home-icon02">
                    <path
                      d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                    ></path>
                  </svg>
                  <span class="home-text29">
                    Quis nostrud exercitation ulla
                  </span>
                </div>
                <div class="home-check2">
                  <svg viewBox="0 0 1024 1024" class="home-icon04">
                    <path
                      d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                    ></path>
                  </svg>
                  <span class="home-text30">Duis aute irure dolor intuit</span>
                </div>
              </div>
            </div>
            <div class="home-button03">
              <span class="home-text31">
                <span>Contact us</span>
                <br />
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="home-content5">
        <div class="home-header3">
          <div class="home-tag"><span class="home-text34">CLUBS</span></div>
          <div class="home-heading07">
            <h2 class="home-text35">No setup cost or hidden fees.</h2>
          </div>
        </div>
        <div class="home-pricing-plans">
          <div class="home-plans1">
            <div class="home-plan3">
              <div class="home-top3">
                <div class="home-heading08">
                  <span class="home-text36">
                    Word&apos;s Worth English Club
                  </span>
                  <span class="home-text37">
                    Sed ut perspiciatis unde omnis iste natus error sit.
                  </span>
                </div>
              </div>
              <div class="home-bottom3">
                <div class="home-check-list04">
                  <app-check Feature="Sharpen your English skills"></app-check>
                  <app-check
                    Feature="Explore different areas of English"
                  ></app-check>
                  <app-check Feature="Prepare for academic success"></app-check>
                  <app-check Feature="Build confidence"></app-check>
                  <app-check Feature="Gain fresh perspectives"></app-check>
                </div>
                <div class="home-button04">
                  <span class="home-text38">Get Started</span>
                </div>
              </div>
            </div>
            <div class="home-plan4">
              <div class="home-top4">
                <div class="home-heading09">
                  <span class="home-text39">Defence Club</span>
                  <span class="home-text40">
                    Sed ut perspiciatis unde omnis iste natus error sit.
                  </span>
                </div>
              </div>
              <div class="home-bottom4">
                <div class="home-check-list05">
                  <app-check
                    Feature="Developing critical thinking and research skills"
                  ></app-check>
                  <app-check
                    Feature="Meeting like-minded individuals"
                  ></app-check>
                  <app-check Feature="Building self-confidence"></app-check>
                  <app-check
                    Feature="Developing cyber security skills"
                  ></app-check>
                  <app-check Feature="Improving leadership skills"></app-check>
                </div>
                <div class="home-button05">
                  <span class="home-text41">Get Started</span>
                </div>
              </div>
            </div>
            <div class="home-plan5">
              <div class="home-top5">
                <div class="home-heading10">
                  <span class="home-text42">UPSC Club</span>
                  <span class="home-text43">
                    Sed ut perspiciatis unde omnis iste natus error sit.
                  </span>
                </div>
              </div>
              <div class="home-bottom5">
                <div class="home-check-list06">
                  <app-check Feature="Structured Learning"></app-check>
                  <app-check Feature="Expert Guidance"></app-check>
                  <app-check
                    Feature="Enhancing Communication and Soft Skills"
                  ></app-check>
                  <app-check Feature="Mock Tests and Feedback"></app-check>
                  <app-check
                    Feature="Exposure to Current Affairs and Events"
                  ></app-check>
                </div>
                <div class="home-button06">
                  <span class="home-text44">Get Started</span>
                </div>
              </div>
            </div>
          </div>
          <div class="home-expand1">
            <div class="home-overlay1">
              <div class="home-header4">
                <div class="home-heading11">
                  <span class="home-text45">Expand</span>
                  <span class="home-text46">
                    Not sure which club to join, contact us and get more info
                    about the clubs.
                  </span>
                </div>
                <div class="home-check-list07">
                  <div class="home-check3">
                    <svg viewBox="0 0 1024 1024" class="home-icon06">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="home-text47">Ask specific questions</span>
                  </div>
                  <div class="home-check4">
                    <svg viewBox="0 0 1024 1024" class="home-icon08">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="home-text48">
                      Clearly identify your interests and goals
                    </span>
                  </div>
                  <div class="home-check5">
                    <svg viewBox="0 0 1024 1024" class="home-icon10">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="home-text49">
                      Ask for information about different club options
                    </span>
                  </div>
                </div>
              </div>
              <div class="home-button07">
                <span class="home-text50">
                  <span>Contact us</span>
                  <br />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="home-plans2">
          <div class="home-plan6">
            <div class="home-top6">
              <div class="home-heading12">
                <span class="home-text53">Standard</span>
                <span class="home-text54">
                  Sed ut perspiciatis unde omnis iste natus error sit.
                </span>
              </div>
              <div class="home-cost3">
                <span class="home-text55">Free</span>
              </div>
            </div>
            <div class="home-bottom6">
              <div class="home-check-list08">
                <app-check></app-check>
                <app-check Feature="Quis nostrud exercitation ulla"></app-check>
                <app-check Feature="Duis aute irure dolor intuit"></app-check>
                <app-check
                  Feature="Voluptas sit aspernatur aut odit"
                ></app-check>
                <app-check Feature="Corporis suscipit laboriosam"></app-check>
              </div>
              <div class="home-button08">
                <span class="home-text56">Get Standard</span>
              </div>
            </div>
          </div>
          <div class="home-plan7">
            <div class="home-top7">
              <div class="home-heading13">
                <span class="home-text57">Plus</span>
                <span class="home-text58">
                  Sed ut perspiciatis unde omnis iste natus error sit.
                </span>
              </div>
              <div class="home-cost4">
                <span class="home-text59">$8</span>
                <span class="home-text60">/month</span>
              </div>
            </div>
            <div class="home-bottom7">
              <div class="home-check-list09">
                <app-check></app-check>
                <app-check Feature="Quis nostrud exercitation ulla"></app-check>
                <app-check Feature="Duis aute irure dolor intuit"></app-check>
                <app-check
                  Feature="Voluptas sit aspernatur aut odit"
                ></app-check>
                <app-check Feature="Corporis suscipit laboriosam"></app-check>
              </div>
              <div class="home-button09">
                <span class="home-text61">Get Plus</span>
              </div>
            </div>
          </div>
          <div class="home-plan8">
            <div class="home-top8">
              <div class="home-heading14">
                <span class="home-text62">Premium</span>
                <span class="home-text63">
                  Sed ut perspiciatis unde omnis iste natus error sit.
                </span>
              </div>
              <div class="home-cost5">
                <span class="home-text64">$16</span>
                <span class="home-text65">/month</span>
              </div>
            </div>
            <div class="home-bottom8">
              <div class="home-check-list10">
                <app-check></app-check>
                <app-check Feature="Quis nostrud exercitation ulla"></app-check>
                <app-check Feature="Duis aute irure dolor intuit"></app-check>
                <app-check
                  Feature="Voluptas sit aspernatur aut odit"
                ></app-check>
                <app-check Feature="Corporis suscipit laboriosam"></app-check>
              </div>
              <div class="home-button10">
                <span class="home-text66">Get Plus</span>
              </div>
            </div>
          </div>
          <div class="home-expand2">
            <div class="home-overlay2">
              <div class="home-header5">
                <div class="home-heading15">
                  <span class="home-text67">Expand</span>
                  <span class="home-text68">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt.
                  </span>
                </div>
                <div class="home-check-list11">
                  <div class="home-check6">
                    <svg viewBox="0 0 1024 1024" class="home-icon12">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="home-text69">Sed ut perspiciatis unde</span>
                  </div>
                  <div class="home-check7">
                    <svg viewBox="0 0 1024 1024" class="home-icon14">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="home-text70">
                      Quis nostrud exercitation ulla
                    </span>
                  </div>
                  <div class="home-check8">
                    <svg viewBox="0 0 1024 1024" class="home-icon16">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="home-text71">
                      Duis aute irure dolor intuit
                    </span>
                  </div>
                </div>
              </div>
              <div class="home-button11">
                <span class="home-text72">
                  <span>Contact us</span>
                  <br />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-help">
      <span class="home-text75">Need any help?</span>
      <div class="home-explore1">
        <span class="home-text76">Get in touch with us right away -&gt;</span>
      </div>
    </div>
  </div>
  <app-testimonials></app-testimonials>
  <app-faq1></app-faq1>
</div>
