:host { 
  display: contents; 
}
.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading {
  width: 100%;
  height: 174px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  height: 808px;
  display: flex;
  position: relative;
  max-width: 1200px;
  transform: rotate(30px);
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: 250px;
  flex-direction: row;
  justify-content: space-between;
}
.home-images {
  gap: var(--dl-space-space-oneandhalfunits);
  right: -210px;
  bottom: -300px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  transform: rotate(-30deg);
  align-items: center;
  padding-left: 122px;
  flex-direction: row;
  justify-content: center;
}
.home-pasted-image {
  width: 374px;
  height: 585px;
  margin-left: 40px;
  padding-top: 5px;
  padding-left: 123px;
  padding-bottom: 152px;
}
.home-pasted-image1 {
  width: 330px;
  height: 233px;
  transform: rotate(90deg);
  margin-right: 120px;
}
.home-column {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-column1 {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-column2 {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0.5;
  display: flex;
  z-index: 20;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-title {
  font-size: 64px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 76px;
}
.home-caption {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 27px;
}
.home-hero-buttons {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  z-index: 15;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-pasted-image2 {
  width: 534px;
  height: 535px;
  transform: rotate(60deg);
  padding-left: 107px;
  padding-right: 159px;
  padding-bottom: 238px;
}
.home-video {
  color: white;
  width: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #000000;
}
.home-content1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
}
.home-header1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text04 {
  width: 640px;
  font-size: 40px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
}
.home-video-container {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: flex-start;
  flex-direction: column;
}
.home-video1 {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
}
.home-video1:hover {
  opacity: .5;
  border-color: #ADE2DF;
  border-width: 2px;
  border-radius: 8px;
}
.home-heading-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text05 {
  font-size: 24px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 36px;
}
.home-text06 {
  color: rgb(234, 234, 234);
  width: 600px;
  font-family: "Poppins";
  line-height: 24px;
}
.home-explore {
  color: #fff;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 0px;
  flex-direction: column;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
.home-explore:hover {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.3);
}
.home-text07 {
  width: Size-XSmall;
}
.home-sections {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-section {
  gap: var(--dl-space-space-sixunits);
  width: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: center;
}
.home-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-heading02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text08 {
  font-size: 40px;
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 56px;
}
.home-text09 {
  font-size: 18px;
  max-width: 535px;
  font-family: "Poppins";
  line-height: 27px;
}
.home-content3 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-points {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-navlink {
  display: contents;
}
.home-get-started {
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  text-decoration: none;
  background-color: #ADE2DF;
}
.home-get-started:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.home-sign-up {
  font-style: normal;
  font-weight: 500;
}
.home-image {
  width: 370px;
  height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("https://play.teleporthq.io/static/svg/placeholders/no-image.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.home-banner-container {
  width: 100%;
  height: 426px;
  display: flex;
  margin-top: 75px;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-banner {
  width: 100%;
  height: 360px;
  display: flex;
  overflow: hidden;
  max-width: 1200px;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  background-color: #375EE0;
}
.home-container1 {
  width: 877px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text10 {
  color: rgb(193, 255, 252);
  width: 100%;
  font-size: 40px;
  max-width: 490px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
}
.home-book-btn {
  cursor: pointer;
  display: flex;
  margin-top: 52px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #000000;
}
.home-book-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.home-text11 {
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 490px;
  font-style: normal;
  font-weight: 500;
}
.home-pricing {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #F3F5FA;
}
.home-content4 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
}
.home-plans {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.home-plan {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  border-right-width: 1px;
}
.home-top {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-heading03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text12 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-text13 {
  font-family: Poppins;
  line-height: 24px;
}
.home-cost {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text14 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
}
.home-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.home-check-list {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.home-button {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.home-button:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.home-text15 {
  font-style: normal;
  font-weight: 500;
}
.home-plan1 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  border-right-width: 1px;
}
.home-top1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-heading04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text16 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-text17 {
  font-family: Poppins;
  line-height: 24px;
}
.home-cost1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text18 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
}
.home-text19 {
  font-family: Poppins;
}
.home-bottom1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.home-check-list01 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.home-button01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.home-button01:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.home-text20 {
  font-style: normal;
  font-weight: 500;
}
.home-plan2 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  border-right-width: 1px;
}
.home-top2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-heading05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text21 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-text22 {
  font-family: Poppins;
  line-height: 24px;
}
.home-cost2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text23 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
}
.home-text24 {
  font-family: Poppins;
}
.home-bottom2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.home-check-list02 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.home-button02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.home-button02:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.home-text25 {
  font-style: normal;
  font-weight: 500;
}
.home-expand {
  flex: 0.3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-overlay {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url("/assets/planbackground.svg");
}
.home-header2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading06 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 256px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text26 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.home-text27 {
  color: #C1FFFC;
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 31px;
}
.home-check-list03 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-check {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.home-text28 {
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.home-check1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon02 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.home-text29 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.home-check2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon04 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.home-text30 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.home-button03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #000000;
}
.home-button03:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.home-text31 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
}
.home-content5 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
}
.home-header3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-tag {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #D6F1F0;
}
.home-text34 {
  font-size: 28px;
  font-style: normal;
  font-family: "Outfit";
  font-weight: 600;
}
.home-heading07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text35 {
  width: 100%;
  font-size: 40px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
.home-pricing-plans {
  flex: 1;
  width: 100%;
  display: grid;
  overflow: hidden;
  align-items: flex-start;
  border-color: #DBDBDB;
  border-width: 1px;
  border-radius: 16px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #375EE0;
  grid-template-columns: auto auto;
}
.home-plans1 {
  flex: 1;
  height: 100%;
  display: grid;
  padding-top: var(--dl-space-space-twounits);
  padding-left: TwoUnits;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #ffffff;
  grid-template-columns: auto auto auto;
}
.home-plan3 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  border-right-width: 1px;
}
.home-top3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-heading08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text36 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-text37 {
  font-family: Poppins;
  line-height: 24px;
}
.home-bottom3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.home-check-list04 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.home-button04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.home-button04:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.home-text38 {
  font-style: normal;
  font-weight: 500;
}
.home-plan4 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  border-right-width: 1px;
}
.home-top4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-heading09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text39 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-text40 {
  font-family: Poppins;
  line-height: 24px;
}
.home-bottom4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.home-check-list05 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.home-button05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.home-button05:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.home-text41 {
  font-style: normal;
  font-weight: 500;
}
.home-plan5 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.home-top5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-heading10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text42 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-text43 {
  font-family: Poppins;
  line-height: 24px;
}
.home-bottom5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.home-check-list06 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.home-button06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.home-button06:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.home-text44 {
  font-style: normal;
  font-weight: 500;
}
.home-expand1 {
  flex: 0.3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-overlay1 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url("/assets/planbackground.svg");
}
.home-header4 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading11 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 256px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text45 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.home-text46 {
  color: #C1FFFC;
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 31px;
}
.home-check-list07 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-check3 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon06 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.home-text47 {
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.home-check4 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon08 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.home-text48 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.home-check5 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon10 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.home-text49 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.home-button07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #000000;
}
.home-button07:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.home-text50 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
}
.home-plans2 {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.home-plan6 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  border-right-width: 1px;
}
.home-top6 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-heading12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text53 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-text54 {
  font-family: Poppins;
  line-height: 24px;
}
.home-cost3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text55 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
}
.home-bottom6 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.home-check-list08 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.home-button08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.home-button08:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.home-text56 {
  font-style: normal;
  font-weight: 500;
}
.home-plan7 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  border-right-width: 1px;
}
.home-top7 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-heading13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text57 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-text58 {
  font-family: Poppins;
  line-height: 24px;
}
.home-cost4 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text59 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
}
.home-text60 {
  font-family: Poppins;
}
.home-bottom7 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.home-check-list09 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.home-button09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.home-button09:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.home-text61 {
  font-style: normal;
  font-weight: 500;
}
.home-plan8 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  align-items: flex-start;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  border-right-width: 1px;
}
.home-top8 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  border-color: #DBDBDB;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-heading14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text62 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-text63 {
  font-family: Poppins;
  line-height: 24px;
}
.home-cost5 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text64 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
}
.home-text65 {
  font-family: Poppins;
}
.home-bottom8 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.home-check-list10 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.home-button10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #ADE2DF;
}
.home-button10:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.home-text66 {
  font-style: normal;
  font-weight: 500;
}
.home-expand2 {
  flex: 0.3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-overlay2 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url("/assets/planbackground.svg");
}
.home-header5 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading15 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 256px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text67 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.home-text68 {
  color: #C1FFFC;
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 31px;
}
.home-check-list11 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-check6 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon12 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.home-text69 {
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.home-check7 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon14 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.home-text70 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.home-check8 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon16 {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}
.home-text71 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
}
.home-button11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #000000;
}
.home-button11:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.home-text72 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
}
.home-help {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: row;
}
.home-text75 {
  font-family: Poppins;
}
.home-explore1 {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-width: 0px;
  flex-direction: column;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
.home-explore1:hover {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.3);
}
.home-text76 {
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-images {
    left: 0px;
    right: -100px;
    bottom: -325px;
    margin: auto;
  }
  .home-pasted-image {
    width: 200px;
  }
  .home-pasted-image1 {
    width: 200px;
  }
  .home-content {
    gap: var(--dl-space-space-unit);
    flex: 0 0 auto;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .home-title {
    font-size: 50px;
    text-align: left;
    line-height: 58px;
  }
  .home-text {
    font-size: 50px;
    text-align: left;
    line-height: 58px;
  }
  .home-caption {
    font-size: 16px;
  }
  .home-hero-buttons {
    width: 100%;
  }
  .home-pasted-image2 {
    width: 200px;
  }
  .home-content1 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-section {
    padding-top: var(--dl-space-space-fourunits);
    border-color: #DBDBDB;
    flex-direction: column;
    border-top-width: 1px;
  }
  .home-content2 {
    gap: var(--dl-space-space-unit);
  }
  .home-content3 {
    gap: var(--dl-space-space-twounits);
  }
  .home-pricing {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content4 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-overlay {
    width: 100%;
    justify-content: space-between;
  }
  .home-header2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading06 {
    gap: var(--dl-space-space-halfunit);
    max-width: 600px;
  }
  .home-text26 {
    font-size: 18px;
  }
  .home-text27 {
    font-size: 20px;
    line-height: 26px;
  }
  .home-text28 {
    line-height: 21px;
  }
  .home-text29 {
    line-height: 21px;
  }
  .home-text30 {
    line-height: 21px;
  }
  .home-button03 {
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-content5 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-header3 {
    gap: var(--dl-space-space-unit);
  }
  .home-pricing-plans {
    grid-template-columns: none;
  }
  .home-plans1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-overlay1 {
    width: 100%;
    background-size: contain;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: right;
  }
  .home-header4 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading11 {
    gap: var(--dl-space-space-halfunit);
    max-width: 600px;
  }
  .home-text45 {
    font-size: 18px;
  }
  .home-text46 {
    font-size: 20px;
    line-height: 26px;
  }
  .home-text47 {
    line-height: 21px;
  }
  .home-text48 {
    line-height: 21px;
  }
  .home-text49 {
    line-height: 21px;
  }
  .home-button07 {
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-overlay2 {
    width: 100%;
    justify-content: space-between;
  }
  .home-header5 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading15 {
    gap: var(--dl-space-space-halfunit);
    max-width: 600px;
  }
  .home-text67 {
    font-size: 18px;
  }
  .home-text68 {
    font-size: 20px;
    line-height: 26px;
  }
  .home-text69 {
    line-height: 21px;
  }
  .home-text70 {
    line-height: 21px;
  }
  .home-text71 {
    line-height: 21px;
  }
  .home-button11 {
    margin-top: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .home-images {
    bottom: -250px;
  }
  .home-title {
    font-size: 40px;
    line-height: 48px;
  }
  .home-text {
    font-size: 40px;
    line-height: 48px;
  }
  .home-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text04 {
    width: 100%;
    font-size: 32px;
    max-width: 640px;
  }
  .home-video-container {
    gap: var(--dl-space-space-threeunits);
  }
  .home-heading01 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text05 {
    font-size: 20px;
    line-height: 30px;
  }
  .home-text06 {
    width: 100%;
    max-width: 600px;
  }
  .home-text08 {
    font-size: 32px;
    line-height: 44px;
  }
  .home-text09 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-get-started {
    display: none;
  }
  .home-banner {
    height: 520px;
    position: relative;
  }
  .home-text10 {
    font-size: 32px;
  }
  .home-plans {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
  }
  .home-plan {
    max-width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 16px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    background-color: #ffffff;
  }
  .home-top {
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading03 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text12 {
    font-size: 18px;
  }
  .home-text14 {
    font-size: 32px;
    line-height: 32px;
  }
  .home-plan1 {
    max-width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 16px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    background-color: #ffffff;
    border-right-width: 1px;
  }
  .home-top1 {
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading04 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text16 {
    font-size: 18px;
  }
  .home-text18 {
    font-size: 32px;
    line-height: 32px;
  }
  .home-text20 {
    font-weight: 500;
  }
  .home-plan2 {
    max-width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 16px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    background-color: #ffffff;
    border-right-width: 1px;
  }
  .home-top2 {
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading05 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text21 {
    font-size: 18px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  .home-text23 {
    font-size: 32px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 32px;
  }
  .home-text25 {
    font-weight: 500;
  }
  .home-expand {
    flex: 0 0 auto;
    width: 100%;
    border-radius: 16px;
    background-color: #375EE0;
  }
  .home-overlay {
    align-items: center;
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: top right;
  }
  .home-text35 {
    font-size: 32px;
    line-height: 44px;
  }
  .home-pricing-plans {
    display: none;
  }
  .home-plans2 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
  }
  .home-plan6 {
    max-width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 16px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    background-color: #ffffff;
  }
  .home-top6 {
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading12 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text53 {
    font-size: 18px;
  }
  .home-text55 {
    font-size: 32px;
    line-height: 32px;
  }
  .home-plan7 {
    max-width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 16px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    background-color: #ffffff;
    border-right-width: 1px;
  }
  .home-top7 {
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading13 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text57 {
    font-size: 18px;
  }
  .home-text59 {
    font-size: 32px;
    line-height: 32px;
  }
  .home-text61 {
    font-weight: 500;
  }
  .home-plan8 {
    max-width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 16px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    background-color: #ffffff;
    border-right-width: 1px;
  }
  .home-top8 {
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading14 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text62 {
    font-size: 18px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  .home-text64 {
    font-size: 32px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 32px;
  }
  .home-text66 {
    font-weight: 500;
  }
  .home-expand2 {
    flex: 0 0 auto;
    width: 100%;
    border-radius: 16px;
    background-color: #375EE0;
  }
  .home-overlay2 {
    align-items: center;
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: top right;
  }
}
@media(max-width: 479px) {
  .home-images {
    bottom: -300px;
  }
  .home-pasted-image {
    width: 150px;
  }
  .home-pasted-image1 {
    width: 150px;
  }
  .home-hero-buttons {
    width: 100%;
    flex-direction: column;
  }
  .home-pasted-image2 {
    width: 150px;
  }
  .home-help {
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}
