<div class="clubs-pricing">
  <div class="clubs-content">
    <div class="clubs-header">
      <div class="clubs-tag"><span class="clubs-text">{{ text2 }}</span></div>
      <div class="clubs-heading">
        <h2 class="clubs-text01">{{ heading }}</h2>
      </div>
    </div>
    <div class="clubs-pricing-plans">
      <div class="clubs-plans">
        <div class="clubs-plan">
          <div class="clubs-top">
            <div class="clubs-heading1">
              <span class="clubs-text02">{{ text9 }}</span>
              <span class="clubs-text03">{{ text10 }}</span>
            </div>
          </div>
          <div class="clubs-bottom">
            <div class="clubs-check-list">
              <app-check Feature="Sharpen your English skills"></app-check>
              <app-check
                Feature="Explore different areas of English"
              ></app-check>
              <app-check Feature="Prepare for academic success"></app-check>
              <app-check Feature="Build confidence"></app-check>
              <app-check Feature="Gain fresh perspectives"></app-check>
            </div>
            <div class="clubs-button">
              <span class="clubs-text04">{{ Text9 }}</span>
            </div>
          </div>
        </div>
        <div class="clubs-plan1">
          <div class="clubs-top1">
            <div class="clubs-heading2">
              <span class="clubs-text05">{{ text11 }}</span>
              <span class="clubs-text06">{{ text12 }}</span>
            </div>
          </div>
          <div class="clubs-bottom1">
            <div class="clubs-check-list1">
              <app-check
                Feature="Developing critical thinking and research skills"
              ></app-check>
              <app-check Feature="Meeting like-minded individuals"></app-check>
              <app-check Feature="Building self-confidence"></app-check>
              <app-check Feature="Developing cyber security skills"></app-check>
              <app-check Feature="Improving leadership skills"></app-check>
            </div>
            <div class="clubs-button1">
              <span class="clubs-text07">{{ Text12 }}</span>
            </div>
          </div>
        </div>
        <div class="clubs-plan2">
          <div class="clubs-top2">
            <div class="clubs-heading3">
              <span class="clubs-text08">{{ text13 }}</span>
              <span class="clubs-text09">{{ text14 }}</span>
            </div>
          </div>
          <div class="clubs-bottom2">
            <div class="clubs-check-list2">
              <app-check Feature="Structured Learning"></app-check>
              <app-check Feature="Expert Guidance"></app-check>
              <app-check
                Feature="Enhancing Communication and Soft Skills"
              ></app-check>
              <app-check Feature="Mock Tests and Feedback"></app-check>
              <app-check
                Feature="Exposure to Current Affairs and Events"
              ></app-check>
            </div>
            <div class="clubs-button2">
              <span class="clubs-text10">{{ Text15 }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="clubs-expand">
        <div class="clubs-overlay">
          <div class="clubs-header1">
            <div class="clubs-heading4">
              <span class="clubs-text11">{{ text15 }}</span>
              <span class="clubs-text12">{{ text16 }}</span>
            </div>
            <div class="clubs-check-list3">
              <div class="clubs-check">
                <svg viewBox="0 0 1024 1024" class="clubs-icon">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="clubs-text13">{{ text19 }}</span>
              </div>
              <div class="clubs-check1">
                <svg viewBox="0 0 1024 1024" class="clubs-icon02">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="clubs-text14">{{ text20 }}</span>
              </div>
              <div class="clubs-check2">
                <svg viewBox="0 0 1024 1024" class="clubs-icon04">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="clubs-text15">{{ text21 }}</span>
              </div>
            </div>
          </div>
          <div class="clubs-button3">
            <span class="clubs-text16">
              <span>Contact us</span>
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clubs-plans1">
      <div class="clubs-plan3">
        <div class="clubs-top3">
          <div class="clubs-heading5">
            <span class="clubs-text19">{{ text3 }}</span>
            <span class="clubs-text20">{{ text4 }}</span>
          </div>
          <div class="clubs-cost">
            <span class="clubs-text21">{{ Text }}</span>
          </div>
        </div>
        <div class="clubs-bottom3">
          <div class="clubs-check-list4">
            <app-check></app-check>
            <app-check Feature="Quis nostrud exercitation ulla"></app-check>
            <app-check Feature="Duis aute irure dolor intuit"></app-check>
            <app-check Feature="Voluptas sit aspernatur aut odit"></app-check>
            <app-check Feature="Corporis suscipit laboriosam"></app-check>
          </div>
          <div class="clubs-button4">
            <span class="clubs-text22">{{ Text1 }}</span>
          </div>
        </div>
      </div>
      <div class="clubs-plan4">
        <div class="clubs-top4">
          <div class="clubs-heading6">
            <span class="clubs-text23">{{ text5 }}</span>
            <span class="clubs-text24">{{ text6 }}</span>
          </div>
          <div class="clubs-cost1">
            <span class="clubs-text25">{{ Text2 }}</span>
            <span class="clubs-text26">{{ Text3 }}</span>
          </div>
        </div>
        <div class="clubs-bottom4">
          <div class="clubs-check-list5">
            <app-check></app-check>
            <app-check Feature="Quis nostrud exercitation ulla"></app-check>
            <app-check Feature="Duis aute irure dolor intuit"></app-check>
            <app-check Feature="Voluptas sit aspernatur aut odit"></app-check>
            <app-check Feature="Corporis suscipit laboriosam"></app-check>
          </div>
          <div class="clubs-button5">
            <span class="clubs-text27">{{ Text4 }}</span>
          </div>
        </div>
      </div>
      <div class="clubs-plan5">
        <div class="clubs-top5">
          <div class="clubs-heading7">
            <span class="clubs-text28">{{ text7 }}</span>
            <span class="clubs-text29">{{ text8 }}</span>
          </div>
          <div class="clubs-cost2">
            <span class="clubs-text30">{{ Text5 }}</span>
            <span class="clubs-text31">{{ Text6 }}</span>
          </div>
        </div>
        <div class="clubs-bottom5">
          <div class="clubs-check-list6">
            <app-check></app-check>
            <app-check Feature="Quis nostrud exercitation ulla"></app-check>
            <app-check Feature="Duis aute irure dolor intuit"></app-check>
            <app-check Feature="Voluptas sit aspernatur aut odit"></app-check>
            <app-check Feature="Corporis suscipit laboriosam"></app-check>
          </div>
          <div class="clubs-button6">
            <span class="clubs-text32">{{ Text7 }}</span>
          </div>
        </div>
      </div>
      <div class="clubs-expand1">
        <div class="clubs-overlay1">
          <div class="clubs-header2">
            <div class="clubs-heading8">
              <span class="clubs-text33">{{ text17 }}</span>
              <span class="clubs-text34">{{ text18 }}</span>
            </div>
            <div class="clubs-check-list7">
              <div class="clubs-check3">
                <svg viewBox="0 0 1024 1024" class="clubs-icon06">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="clubs-text35">{{ text22 }}</span>
              </div>
              <div class="clubs-check4">
                <svg viewBox="0 0 1024 1024" class="clubs-icon08">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="clubs-text36">{{ text23 }}</span>
              </div>
              <div class="clubs-check5">
                <svg viewBox="0 0 1024 1024" class="clubs-icon10">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="clubs-text37">{{ text24 }}</span>
              </div>
            </div>
          </div>
          <div class="clubs-button7">
            <span class="clubs-text38">
              <span>Contact us</span>
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clubs-help">
    <span class="clubs-text41">{{ text }}</span>
    <div class="clubs-explore">
      <span class="clubs-text42">{{ text1 }}</span>
    </div>
  </div>
</div>
